.active-two-tone-step-animation {
  background-image: repeating-linear-gradient(
    -45deg,
    transparent 0 1rem,
    #7d5cc6 1rem 2rem
  );

  animation: active-two-tone-step-animation 2s infinite linear;
}

.active-two-tone-step-animation:hover {
  animation-play-state: paused;
}

@keyframes active-two-tone-step-animation {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: -33% 50%;
  }
}
